<div class="panel panel-default">
    <div class="panel-heading">Device Profile</div>
    <div class="panel-body">
        <form action="" class="form-horizontal" role="form">                        
            <div class="form-group">
                <label for="deviceName" class="col-xs-4 control-label">Name</label>
                <div class="col-xs-8">
                    <input type="text" name="Device[name]" id="deviceName" class="form-control _name" placeholder="Name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="deviceMobile" class="col-xs-4 control-label">Mobile No.</label>
                <div class="col-xs-8">
                    <input type="text" name="Device[mobile]" id="deviceMobile" class="form-control _mobile" placeholder="Mobile No."/>
                </div>
            </div>
            <div class="form-group">
                <label for="devicePhone" class="col-xs-4 control-label">Phone No.</label>
                <div class="col-xs-8">
                    <input type="text" name="Device[phone]" id="devicePhone" class="form-control _phone" placeholder="Phone No."/>
                </div>
            </div>                                                                                                
        </form>
    </div>
</div>