<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-credit-card"></span> Passenger Profile</div>
    <div class="panel-body">
        <form action="" class="form-horizontal" role="form">                        
            <div class="form-group">                                                           
                
                <div class="col-xs-12">     
                    <label for="passengerName">                        
                        <span class="glyphicon glyphicon-user"></span>
                        Name
                    </label>
                    <input type="text" name="Passenger[name]" id="passengerName" class="form-control" value="{{name}}"/>                  
                </div>
                
            </div>
            <div class="form-group">                
                <div class="col-xs-6">
                    <label for="passengerMobile">
                        <span class="glyphicon glyphicon-phone"></span>
                        Mobile
                    </label>
                    <input type="text" name="Passenger[mobile]" id="passengerMobile" class="form-control" value="{{mobile}}"/>
                </div>
                <div class="col-xs-6">
                    <label for="passengerPhone" class="col-xs-12">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        Phone
                    </label>                    
                    <input type="text" name="Passenger[phone]" id="passengerPhone" class="form-control" value="{{phone}}"/>
                </div>
            </div>            
        </form>
    </div>
</div>